<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Work4</title>
</head>

<body>
    <div id="app" class="container">
        <form>
            <div class="form-group">
                <input v-if="todo==null" 
                v-on:keydown.enter.prevent="addTodo" 
                type="text" class="form-control"
                id="textTodo" placeholder="เพิ่มสิ่งที่ต้องทำ">

                <input v-else v-on:keydown.enter.prevent="editTodo" 
                type="text" class="form-control" 
                v-bind:value="todo.text"
                id="textTodo" placeholder="แก้ไขสิ่งที่ต้องทำ">
            </div>
        </form>
        <nav aria-label="Page navigation example" style="margin-top: 10px;">
            <ul class="pagination">
                <li class="page-item"v-if="pageNumber!=0">
                    <a class="page-link" href="#" v-on:click="pageNumber--">Previous</a></li>
                <li class="page-item" v-for="page in getNumberOfPage">
                    <a class="page-link" href="#" @click="pageNumber=page-1">{{page}}</a></li>
                <li class="page-item" v-if="pageNumber!=getNumberOfPage-1">
                    <a class="page-link" href="#" v-on:click="pageNumber++">Next</a></li>
            </ul>
        </nav>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Todo</th>
                    <th scope="col">Operation
                        <button type="button" 
                        v-if="todo!=null"
                        class="btn btn-success" 
                        v-on:click="addNew"
                        >Addnew</button>
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                <tr v-for="todo in getTodoByPageing">
                    <th scope="row">{{todo.id}}</th>
                    <td>{{todo.text}}</td>
                    <td>
                        <button type="button" 
                        v-on:click="editOperation(todo)" 
                        class="btn btn-warning">edit</button>
                        <button type="button" 
                        v-on:click="deleteOperation(todo)" 
                        class="btn btn-danger">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <Script>
        var app = new Vue({
            el: '#app',
            data: {
                lastId: 5,
                todo: null,
                pageNumber:0,
                pageSize: 3,
                todos: [{
                    id: 1,
                    text: 'ล้างจาน'
                }, {
                    id: 2,
                    text: 'ซักผ้า'
                }, {
                    id: 3,
                    text: 'นอนครับ'
                }, {
                    id: 4,
                    text: 'เล่นเกมส์'
                },],
            },
            methods: {
                addTodo: function (event) {
                    var newTodo = {
                        id: this.lastId++,
                        text: event.target.value
                    };
                    this.todos.push(newTodo);
                    event.target.value = "";
                },
                editTodo: function (event){
                    this.todo.text = event.target.value;
                    this.todo = null;
                },
                editOperation: function (todo) {
                    this.todo = todo;
                    console.log(todo);
                },
                deleteOperation: function (todo) {
                    var index = this.todo.findIndex(t => t.id === todo.id);
                    this.todos.splice(index, 1);
                },
                addNew: function (){
                    this.todo = null;
                },
            },
            computed: {
                getTodoByPageing: function (){
                    var begin = this.pageNumber*this.pageSize;
                    var end = begin+this.pageSize;
                    return this.todos.slice(begin, end);
                },
                getNumberOfPage: function () {
                    return Math.ceil(this.todos.length/this.pageSize);
                }
            }
        });
    </Script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>

</body>

</html>